* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    width: 800px;
    margin: 12px auto;
    background-color: whitesmoke;
}

div {
    background-color: white;
    padding: 12px;
}

h1 {
    background-color: lightblue;
    padding: 8px;
    text-align: center;
    margin-bottom: 12px;
}

img {
    display: block;
    margin: 12px auto;
    height: 300px;
    width: auto;
}

p {
    text-align: justify;
}

h3 {
    text-decoration: underline;
    margin: 8px 0px;
}

h5 {
    font-size: small;
    margin: 4px 0px;
}

ul,
ol {
    list-style-position: inside;
}

li {
    margin: 5px auto;
}